body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    
}

header {
    background-color: #1f2937;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.about-section {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

.about-section h2 {
    color: #1f2937;
}

.about-section ul {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #1f2937;
    color: white;
    margin-top: 270px;

}
