body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

header {
    background: #1f2937;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.active {
    text-decoration: underline;
}

.contact-container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.intro {
    color: #555;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto 25px auto;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #999;
}

textarea {
    height: 120px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background: #1f2937;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #374151;
}

.info-card {
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

footer {
    margin-top: 40px;
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
}
