* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
}

/* Header */
header {
  background-color: #0b132b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  color: #5bc0be;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1556742044-3c52d6e88c62?auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero span {
  color: #5bc0be;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.btn {
  background-color: #5bc0be;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 500;
}

.btn:hover {
  background-color: #3aafa9;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: white;
}

.feature {
  width: 300px;
  margin: 15px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #f1f1f1;
  
}



.feature h3 {
  color: #0b132b;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #0b132b;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  margin-top: 150px;
}
